{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" >
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
  </head>
  <body>
    <div class="ui visible left thin sidebar inverted vertical menu">
      <div class="item">
        <img src="{% static 'images/logo2.png' %}"/>
      </div>
      <div class="item">
        数据展示
        <i class="orange browser icon"></i>
      </div>
      <div class="item">
        图标展示
        <i class="bar chart icon"></i>
      </div>
      <div class="item">
        其他
        <i class="idea icon"></i>
      </div>
    </div>
      <div class="pusher">
        <div class="ui top attached menu">
{#          <div class="header item" id="menu">#}
{#            <i class="content icon"></i>#}
{#            菜单#}
{#          </div>#}
          <div class="header item">
              <a href="../index3" target="_blank"><i class="sitemap icon"></i>数据分析</a>
          </div>
          <div class="header item"><i class="list icon"></i>数据表格</div>
          <div class="header item"><i class="content icon"></i>数据</div>
        </div>
        <div class="ui container" style="margin:70px 0 0 0">
          <div class="ui divided items">
              {% for item in ArtiInfo %}
                <div class="item">
                  <div class="content">
                    <a class="header" href={{item.url}} target="_blank">{{ item.title }}</a>
                    <div class="meta">
                        <span class="ui label"> {{ item.area }} </span>
{#                        <span class="ui label" style="color:red"> {{ item.user }} </span>#}
                    </div>
                    <div class="description" style="display:inline-block;margin-right: 50px">{{ item.price }}</div>来自：
                    <span class="ui" style="color:blue"> {{ item.user }} </span>
                  </div>
                </div>
              {% endfor %}
          </div>
            <div class="ui small pagination menu">
            {% if ArtiInfo.has_previous %}
                <a class="icon item" href="?page={{ ArtiInfo.previous_page_number }}">
                  <i class="left arrow icon"></i>
                </a>
            {% endif %}
            <div class="disabled item"> {{ ArtiInfo.number }} of {{ ArtiInfo.paginator.num_pages }} </div>
            {% if ArtiInfo.has_next %}
                <a class="icon item" href="?page={{ ArtiInfo.next_page_number }}">
                    <i class="right arrow icon"></i>
                </a>
            {% endif %}
            </div>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script>
      $('.ui.sidebar').sidebar('is visible')
    </script>
{#    <script>#}
{#      $('#menu').click(function () {#}
{#        $('.ui.sidebar').sidebar('toggle');#}
{#      });#}
{#    </script>#}
  </body>
</html>
