{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" >
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
</head>
<body>
    <div class="ui visible left thin sidebar inverted vertical menu">
        <div class="item">
            <img src="{% static 'images/logo2.png' %}"/>
        </div>
        <div class="item">
            数据展示
            <i class="browser icon"></i>
        </div>
        <div class="item">
            图标展示
            <i class="bar chart icon"></i>
        </div>
        <div class="item">
            其他
            <i class="idea icon"></i>
        </div>
    </div>
    <div class="pusher">
        <div class="ui top attached menu">
{#          <div class="header item" id="menu">#}
{#            <i class="content icon"></i>#}
{#            菜单#}
{#          </div>#}
            <div class="header item">
              <a href="../index3" target="_blank"><i class="sitemap icon"></i>数据分析</a>
            </div>
            <div class="header item">
                <a href="../index3" target="_blank"><i class="list icon"></i>数据表格</a>
            </div>
            <div class="header item">
                <a href="../index3" target="_blank"><i class="content icon"></i>数据</a>
            </div>
        </div>
        <div class="ui equal width grid" style="margin:5px;width: 60%">
            <div class="row">
                <div class="column">
                    <div class="ui red segment">
                        <div class="ui statistic">
                            <div class="value">
                                50,000
                            </div>
                            <div class="label">
                                Documents
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue segment">
                        <div class="ui statistic">
                            <div class="value">
                                2,000
                            </div>
                            <div class="label">
                                Views
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui segment">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <div class="header">
                                        Title Here!
                                    </div>
                                    <div class="description">
                                        say something!
                                    </div>
                                    <div class="extra">
                                        <div class="ui label">
                                            Tag1
                                        </div>
                                        <div class="ui label">
                                            Tag2
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui equal width grid" style="margin:5px;width: 60%">
            <div class="row">
                <div class="column">
                    <div class="ui container segment">
                        <div class="ui simple dropdown item">
                            地区
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item">Choice 1</div>
                                <div class="item">Choice 2</div>
                                <div class="item">Choice 3</div>
                            </div>
                        </div>
                        <div class="ui container" id="chart1">

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui container" style="margin:70px 0 0 0">
          <div class="ui divided items">
              {% for item in ArtiInfo %}
                <div class="item">
                  <div class="content">
                    <a class="header" href={{item.url}} target="_blank">{{ item.title }}</a>
                    <div class="meta">
                        <span class="ui label"> {{ item.area }} </span>
{#                        <span class="ui label" style="color:red"> {{ item.user }} </span>#}
                    </div>
                    <div class="description" style="display:inline-block;margin-right: 50px">￥ {{ item.price }}</div>来自：
                    <span class="ui" style="color:blue"> {{ item.user }} </span>
                  </div>
                </div>
              {% endfor %}
          </div>
            <div class="ui small pagination menu">
            {% if ArtiInfo.has_previous %}
                <a class="icon item" href="?page={{ ArtiInfo.previous_page_number }}">
                  <i class="left arrow icon"></i>
                </a>
            {% endif %}
            <div class="disabled item"> {{ ArtiInfo.number }} of {{ ArtiInfo.paginator.num_pages }} </div>
            {% if ArtiInfo.has_next %}
                <a class="icon item" href="?page={{ ArtiInfo.next_page_number }}">
                    <i class="right arrow icon"></i>
                </a>
            {% endif %}
            </div>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/highcharts-more.js' %}"></script>
    <script src="{% static 'js/exporting.js' %}"></script>
    <script>
      $('.ui.sidebar').sidebar('is visible')
    </script>
{#    <script>#}
{#      $('#menu').click(function () {#}
{#        $('.ui.sidebar').sidebar('toggle');#}
{#      });#}
{#    </script>#}
    <script>
$(function () {
    $('#chart1').highcharts({
        title: {
            text: 'Monthly Average Temperature',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: WorldClimate.com',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});
    </script>
    </body>
</html>
